<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}Multitasker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo/logo_small.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body class="color-2">
    <nav class="navbar navbar-expand-md sticky-top navbar-dark color-1 p-1">
        <a class="navbar-brand d-flex align-items-center pl-1" href="{{ url_for('todo.home') }}">
            <img class="image-logo-small" src="{{ url_for('static', filename='logo/logo_small.svg') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('todo.home') }}">タスク一覧</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('todo.completed_tasks') }}">完了したタスク</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('todo.user') }}">ユーザー情報</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">ログアウト</a>
                </li>
            </ul>

            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('todo.home') }}">ホーム</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">新規ユーザー登録</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% if not current_user.is_authenticated %}
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <p class="m-0"><i class="far fa-copyright"></i> 2021 Multitasker</p>
                </div>
                <div class="col-12 text-center">
                    <p class="m-0">
                        <a href="{{ url_for('todo.terms') }}">利用規約</a> ・ 
                        <a href="{{ url_for('todo.privacy') }}">プライバシー</a> ・ 
                        <a href="{{ url_for('todo.contact') }}">お問い合わせ</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>