{% extends "base.html" %}
{% block title %}
プライバシーポリシー - 
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-10 col-11 text-center mt-5 mb-3">
            <h4 style="font-weight: bold;">プライバシーポリシー</h4>
        </div>
        <div class="col-lg-9 col-md-10 col-11">
            <p> Multitasker は、このウェブサイト上で提供するサービス（以下、「本サービス」といいます）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます）を定め、適切な管理及び保護に努めます。</p>
            <h6 style="font-weight: bold;">第1条（個人情報）</h6>
            <p>「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号等の当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
            <h6 style="font-weight: bold;">第2条（個人情報の収集）</h6>
            <p> Multitasker は、ユーザーより以下の個人情報を収集します。</p>
            <ol>
                <li>利用登録の際：お名前（ニックネーム推奨）・メールアドレス</li>
                <li>お問い合わせの際：お名前・メールアドレス</li>
            </ol>
            <h6 style="font-weight: bold;">第3条（個人情報の収集・利用目的）</h6>
            <p>また、 Multitasker は、ユーザーより収集した個人情報を以下の目的の範囲内において、利用します。ユーザーの同意なく、個人情報の収集や目的外の利用を行うことはありません。</p>
            <ol>
                <li>本サービスの提供・運営のため</li>
                <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
                <li>ユーザーが利用中のサービスの新機能、更新情報、キャンペーン等及び Multitasker が提供する他のサービスの案内のメールを送付するため</li>
                <li>メンテナンス、重要なお知らせ等必要に応じたご連絡のため</li>
                <li>利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</li>
                <li>ユーザーにご自身の登録情報の閲覧や変更、削除を行っていただくため</li>
                <li>上記の利用目的に付随する目的</li>
            </ol>
            <h6 style="font-weight: bold;">第4条（利用目的の変更）</h6>
            <ol>
                <li> Multitasker は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
                <li>利用目的の変更を行った場合には、変更後の目的について、登録されたメールアドレスを用いてユーザーに通知するか、または本サービス上に掲示するものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第5条（個人情報の保存期間）</h6>
            <p> Multitasker は、法令で定められている保存期間が経過した場合、または第3条（個人情報の利用目的）に記載した利用目的の達成のために利用する必要がなくなった場合には、当該個人情報を遅滞なく消去いたします。</p>
            <h6 style="font-weight: bold;">第6条（個人情報の第三者提供）</h6>
            <ol>
                <li> Multitasker は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</li>
                <ol>
                    <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                    <li>予め次の事項を告知あるいは公表し、かつ Multitasker が個人情報保護委員会に届出をしたとき</li>
                    <ol>
                        <li>利用目的に第三者への提供を含むこと</li>
                        <li>第三者に提供されるデータの項目</li>
                        <li>第三者への提供の手段または方法</li>
                        <li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
                        <li>本人の求めを受け付ける方法</li>
                    </ol>
                </ol>
                <li>前項の定めにかかわらず、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。</li>
                <ol>
                    <li> Multitasker が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
                    <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                    <li>個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的及び当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いた場合</li>
                </ol>
            </ol>
            <h6 style="font-weight: bold;">第7条（個人情報の開示）</h6>
            <ol>
                <li> Multitasker は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。</li>
                <ol>
                    <li>本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
                    <li> Multitasker の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                    <li>その他法令に違反することとなる場合</li>
                </ol>
                <li>前項の定めにかかわらず、履歴情報及び特性情報等の個人情報以外の情報については、原則として開示いたしません。</li>
            </ol>
            <h6 style="font-weight: bold;">第8条（個人情報の訂正及び削除）</h6>
            <ol>
                <li>
                    ユーザーは、 Multitasker の保有する自己の個人情報が誤った情報である場合には、 Multitasker が定める手続きにより、 Multitasker に対して個人情報の訂正、追加または削除（以下、「訂正等」といいます）を請求することができます。具体的な方法については、本ポリシー上に記載されている連絡先にお問い合わせいただくか、
                    <a href="{{ url_for('todo.contact') }}">お問い合わせフォーム</a>
                    よりご連絡ください。
                </li>
                <li> Multitasker は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正等を行うものとします。</li>
                <li> Multitasker は、前項の規定に基づき訂正等を行った場合、または訂正等を行わない旨の決定をしたときは遅滞なく、これをユーザーに通知します。</li>
            </ol>
            <h6 style="font-weight: bold;">第9条（個人情報の利用停止等）</h6>
            <ol>
                <li> Multitasker は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により収集されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます）を求められた場合には、遅滞なく必要な調査を行います。</li>
                <li>前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。</li>
                <li> Multitasker は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザーに通知します。</li>
                <li>前2項にかかわらず、利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じるものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第10条（Cookie、Webビーコン及びIPアドレスの利用）</h6>
            <p> Multitasker は、本サービスにおいて、Cookie、Webビーコン及びIPアドレスを次の目的で使用することがあります。</p>
            <ol>
                <li>サーバーで発生した障害や問題の原因を突き止め解決するため</li>
                <li>本サービスの内容を改善するため</li>
                <li>個人を特定できない状態で統計資料として利用するため</li>
            </ol>
            <p>ユーザーは、ブラウザーの設定でCookieの受け取りを拒否することにより、 Multitasker によるCookie及びWebビーコンの利用を拒否することができます。ただし、その場合には、一部の機能が使用できない場合があります。</p>
            <h6 style="font-weight: bold;">第11条（Googleアナリティクスの利用）</h6>
            <p>
                 Multitasker は、本サービスにおいて、その利用状況を把握するために、Googleによるアクセス解析ツール「Googleアナリティクス」を利用することがあります。Googleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。この機能はブラウザーでCookieを無効にすることにより、収集を拒否することができます。詳細は
                <a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Googleアナリティクスサービス利用規約</a>
                のページや
                <a href="https://policies.google.com/technologies/ads?hl=ja">Googleポリシーと規約</a>
                のページをご覧ください。
            </p>
            <h6 style="font-weight: bold;">第12条（プライバシーポリシーの変更）</h6>
            <ol>
                <li>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
                <li> Multitasker が別途定める場合を除いて、変更後のプライバシーポリシーは、本サービス上に掲載したときから効力を生じるものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第13条（お問い合わせ窓口）</h6>
            <p>個人情報の取扱いに関しては、下記の受付窓口までメールにてお問い合わせください。</p>
            <p>Multitasker管理者<br>multitasker.application☆☆☆gmail.com</p>
            <p>※迷惑メール対策のため、「☆☆☆」を使用して表記しております。お問合わせの際は「☆☆☆」を半角の「@」に変更してご利用ください。</p>
            <p>2021年12月1日　制定・施行</p>
        </div>
    </div>
</div>
{% endblock %}