{% extends "base.html" %}
{% block title %}
利用規約 - 
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-10 col-11 text-center mt-5 mb-3">
            <h4 style="font-weight: bold;">利用規約</h4>
        </div>
        <div class="col-lg-9 col-md-10 col-11">
            <p>この利用規約（以下、「本規約」といいます）は、 Multitasker がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます）には、本規約に従って、本サービスをご利用いただきます。</p>
            <h6 style="font-weight: bold;">第1条（適用）</h6>
            <ol>
                <li>本規約は、ユーザーと Multitasker との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
                <li> Multitasker は本サービスに関し、本規約の他、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</li>
                <li>本規約の規定が前項の個別規定の規定と矛盾する場合には、個別規定において特段の定めがない限り、個別規定の規定が優先されるものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第2条（本サービスの目的と内容）</h6>
            <p>本サービスは、「マルチタスク（複数ある作業の同時並行）」という点にフォーカスして、ユーザーのタスク管理をサポートできるよう作成されました。やるべきことをタスクとして登録し、その完了度を記録することで、複数の作業を切り替えながら、少しずつ同時に進められる機能を備えています。</p>
            <h6 style="font-weight: bold;">第3条（利用登録）</h6>
            <ol>
                <li>本サービスにおいては、登録希望者が本規約に同意の上、 Multitasker の定める方法によって利用登録を申請し、 Multitasker がこれを承認することによって、利用登録が完了するものとします。</li>
                <li> Multitasker は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。</li>
                <ol>
                    <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
                    <li>本規約に違反したことがある者からの申請である場合</li>
                    <li>その他、 Multitasker が利用登録を相当でないと判断した場合</li>
                </ol>
            </ol>
            <h6 style="font-weight: bold;">第4条（ユーザーID及びパスワードの管理）</h6>
            <ol>
                <li>ユーザーは、自己の責任において、本サービスのユーザーID及びパスワードを適切に管理するものとします。</li>
                <li>ユーザーは、いかなる場合にも、ユーザーID及びパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。 Multitasker は、ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
                <li>ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は、 Multitasker に故意または重大な過失がある場合を除き、 Multitasker は一切の責任を負わないものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第5条（利用料金）</h6>
            <p>ユーザーは本サービスの利用に関して、会費等の特別な負担はありません。</p>
            <h6 style="font-weight: bold;">第6条（禁止事項）</h6>
            <p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
            <ol>
                <li>法令または公序良俗に違反する行為</li>
                <li>犯罪行為に関連する行為</li>
                <li>本サービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
                <li>他のユーザーまたはその他の第三者に成りすます行為</li>
                <li>他のユーザーまたはその他の第三者に関する個人情報等を収集または蓄積する行為</li>
                <li>他のユーザーまたはその他の第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
                <li>他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為</li>
                <li>本サービスのネットワークまたはシステム等に過度な負荷をかける行為</li>
                <li>本サービスのネットワークまたはシステム等に不正にアクセスし、またはこれを試みる行為</li>
                <li>本サービスの運営を妨害するおそれのある行為</li>
                <li>本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為</li>
                <li>本サービスによって得られた情報を商業的に利用する行為</li>
                <li>不正な目的を持って本サービスを利用する行為</li>
                <li>その他、 Multitasker が不適切と判断する行為</li>
            </ol>
            <h6 style="font-weight: bold;">第7条（本サービスの提供の停止等）</h6>
            <ol>
                <li> Multitasker は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
                <ol>
                    <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                    <li>地震、落雷、火災、停電または天災等の不可抗力により、本サービスの提供が困難となった場合</li>
                    <li>コンピュータまたは通信回線等が事故により停止した場合</li>
                    <li>その他、 Multitasker が本サービスの提供が困難と判断した場合</li>
                </ol>
                <li> Multitasker は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第8条（利用制限及び登録抹消）</h6>
            <ol>
                <li> Multitasker は、ユーザーが以下のいずれかに該当する場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。</li>
                <ol>
                    <li>本規約のいずれかの条項に違反した場合</li>
                    <li>登録事項に虚偽の事実があることが判明した場合</li>
                    <li> Multitasker からの連絡に対し、一定期間返答がない場合</li>
                    <li>本サービスについて、最終の利用から一定期間利用がない場合</li>
                    <li>その他、 Multitasker が本サービスの利用を適当でないと判断した場合</li>
                </ol>
                <li> Multitasker は、本条に基づき Multitasker が行った行為によりユーザーに生じた損害について、一切の責任を負いません。</li>
            </ol>
            <h6 style="font-weight: bold;">第9条（退会）</h6>
            <p>ユーザーは、 Multitasker の定める退会手続により、本サービスから退会できるものとします。</p>
            <h6 style="font-weight: bold;">第10条（保証の否認及び免責事項）</h6>
            <ol>
                <li> Multitasker は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティ等に関する欠陥、エラーやバグ、権利侵害等を含みます）がないことを明示的にも黙示的にも保証しておりません。</li>
                <li> Multitasker は、本サービスに起因してユーザーに生じたあらゆる損害について、 Multitasker の故意または重過失による場合を除き、一切の責任を負いません。ただし、本サービスに関する Multitasker とユーザーとの間の契約（本規約を含みます）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</li>
                <li>前項ただし書に定める場合であっても、 Multitasker は、 Multitasker の過失（重過失を除きます）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（ Multitasker またはユーザーが損害発生につき予見し、または予見し得た場合を含みます）について一切の責任を負いません。また、 Multitasker の過失（重過失を除きます）による債務不履行または不法行為によりユーザーに生じた損害の賠償は、当該ユーザーが直接かつ現実に被った損害を上限とします。</li>
                <li> Multitasker は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
                <li>ユーザーは、本サービスの利用に関連し、他のユーザーまたは第三者に損害を与えた場合、または紛争が生じた場合、自己の費用と責任において、かかる損害を賠償、またはかかる紛争を解決するものとします。</li>
                <li>ユーザーの行為により、第三者から Multitasker が損害賠償等の請求をされた場合には、ユーザーの費用（弁護士費用）と責任で、これを解決するものとします。 Multitasker が、当該第三者に対して、損害賠償金を支払った場合には、ユーザーは、 Multitasker に対して当該損害賠償金を含む一切の費用（弁護士費用及び逸失利益を含む）を支払うものとします。</li>
                <li>ユーザーが本サービスの利用に関連して Multitasker に損害を与えた場合、ユーザーの費用と責任において Multitasker に対して損害を賠償（訴訟費用及び弁護士費用を含む）するものとします。</li>
            </ol>
            <h6 style="font-weight: bold;">第11条（サービス内容の変更等）</h6>
            <p> Multitasker は、ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</p>
            <h6 style="font-weight: bold;">第12条（利用規約の変更）</h6>
            <ol>
                <li> Multitasker は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</li>
                <ol>
                    <li>本規約の変更がユーザーの一般の利益に適合するとき。</li>
                    <li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</li>
                </ol>
                <li> Multitasker はユーザーに対し、前項による本規約の変更にあたり、事前に、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を通知します。</li>
            </ol>
            <h6 style="font-weight: bold;">第13条（個人情報の取扱い）</h6>
            <p>
                 Multitasker は、本サービスの利用によって取得する個人情報については、 Multitasker 「
                <a href="{{ url_for('todo.privacy') }}">プライバシーポリシー</a>
                」に従い適切に取り扱うものとします。
            </p>
            <h6 style="font-weight: bold;">第14条（通知または連絡）</h6>
            <p>ユーザーと Multitasker との間の通知または連絡は、 Multitasker の定める以下の方法によって行うものとします。</p>
            <ol>
                <li>
                    ユーザーは、 Multitasker に連絡をする場合、
                    <a href="{{ url_for('todo.contact') }}">お問い合わせフォーム</a>
                    または電子メールにて連絡を行うものとし、この方法以外での通知に関してはお受けできません。
                </li>
                <li> Multitasker からのユーザーに対する連絡は、本サービス上での掲示、またはユーザーへの電子メールにより行い、これらは、発信時にユーザーへ到達したものとみなします。ただし、ユーザーから正確なメールアドレスの提供がなされていない場合の不利益に関しては、 Multitasker は一切責任を負いません。</li>
            </ol>
            <h6 style="font-weight: bold;">第15条（権利義務の譲渡の禁止）</h6>
            <p>ユーザーは、 Multitasker の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</p>
            <h6 style="font-weight: bold;">第16条（分離可能性）</h6>
            <p>本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
            <h6 style="font-weight: bold;">第17条（準拠法・裁判管轄）</h6>
            <ol>
                <li>本規約の解釈にあたっては、日本法を準拠法とします。</li>
                <li>本サービスに関して紛争が生じた場合には、東京地方裁判所を第一審の専属的合意管轄とします。</li>
            </ol>
            <p>2021年12月1日　制定・施行</p>
        </div>
    </div>
</div>
{% endblock %}